<%- include("partials/header.ejs") %>
 
    <div class="heading">
        <h1> Welcome to Blo</h1>
        <h1 class="name">g</h1>
        <h1>ify :</h1> 
    </div>
    <h5 >Your Ultimate Blog Creation Platform</h5>
         <br/>
         <br/>
        <p>Are you ready to share your thoughts, passions, and expertise with the world? Look no further than Blogify – the premier destination for creating your own captivating blog. Whether you're an aspiring writer, a budding entrepreneur, or a seasoned professional, Blogify provides you with all the tools and resources you need to bring your ideas to life and engage with your audience like never before.
            Create your dream blog effortlessly with Blogify. Our intuitive interface, customizable templates, and powerful editing tools make it easy for anyone to showcase their ideas and connect with their audience.Join the Blogify community today and unleash your creativity!</p>

            <br/>

        <div class="row featurette mt-5">
            <div class="col-md-7 order-md-2">
              <h2 class="featurette-heading fw-normal  mllh-1">Oh yeah, it’s that good. <span class="nav-link">See for yourself.</span></h2>
              <p class="lead pt-5">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img src="images/Blog1.jpg" alt="Blog template 1" width="450" height="450">
              
            </div>
          </div>

          <div class="row featurette mt-5">
            <div class="col-md-7">
              <h2 class="featurette-heading mt-5 fw-normal lh-1">Explore the Magic of Creation. <span class="nav-link mt-2">It’ll blow your mind.</span></h2>
              <p class="lead pt-5"> Creative templates like never before,</br>
                 Multiple options to choose from.</p>
            </div>
            <div class="col-md-5">
              <img src="images/Blog2.jpg" src="picture of a textile blog" width="450" height="450">
            </div>
          </div>

          <h4 class="mt-5">Get Started Today!</h4>
        </br>
        <p>Ready to start blogging? Sign up for free and join the Blogify community today! Whether you're a hobbyist blogger or a professional content creator, we're here to support you every step of the way. Let your creativity soar with Blogify – the ultimate blog creation platform.</p>


 <%- include("partials/footer.ejs") %>
 <script src="/docs/5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
